{{ 'application.css' | asset_url | stylesheet_tag }}
<div class="navbar">
  <nav class="nav">
    {% assign selected_menu = section.settings.selected_menu %}

    {% if selected_menu != blank %}
      {% for link in selected_menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <a class="" href="{{ link.url }}">{{ link.title }}</a>
          [{% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
          {% endfor %}]
        {% else %}
          <a class="nav__link" href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </nav>
  <div class="navbar__sign">
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="{{ routes.account_logout_url }}" class="navbar__sign-link navbar__sign-link--border">Sign Out</a>
      {% else %}
        <a href="{{ routes.account_login_url  }}" class="navbar__sign-link">Sign In</a>
        <a href="{{ routes.account_register_url }}" class="navbar__sign-link navbar__sign-link--border">Sign Up</a>
      {% endif %}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "selected_menu",
        "label": "Select Menu"
      }
    ]
  }
{% endschema %}