{{ 'cart.css' | asset_url | stylesheet_tag }}

<div class="cart">
  <div class="container">
    <div class="cart__breadcrumbs">
      <a
        href="/"
        title="Home"
        aria-label="Ir a inicio"
        class="cart__breadcrumbs-link">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M2 5.99998L8 1.33331L14 5.99998V13.3333C14 14.0697 13.403 14.6666 12.6667 14.6666H3.33333C2.59695 14.6666 2 14.0697 2 13.3333V5.99998Z"
            stroke="#A6A6A6"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
          <path
            d="M6 14.6667V8H10V14.6667"
            stroke="#A6A6A6"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
      <p>
        <svg
          width="6"
          height="10"
          viewBox="0 0 6 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1 9L5 5L1 1"
            stroke="#A6A6A6"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </p>
      <a href="" class="cart__breadcrumbs-link">Carrito de compras</a>
    </div>
  </div>

  <div class="cart__info">
    <div class="container ">
      <div class="info__wrapper">
        <h6 class="info__title">Mi carrito</h6>
        <span class="info__count">{{ cart.item_count }} productos</span>
      </div>
      <a href="" class="info__link">Solicitar Cotización
        <svg
          width="21"
          height="21"
          viewBox="0 0 21 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.9506 0.902693C15.0126 0.599244 16.1196 1.21423 16.423 2.2763C16.4741 2.45498 16.5 2.63991 16.5 2.82574V4.50001H18.5C19.6046 4.50001 20.5 5.39544 20.5 6.50001V18.5C20.5 19.6046 19.6046 20.5 18.5 20.5H2.5C1.39543 20.5 0.5 19.6046 0.5 18.5H0.526703C0.508952 18.3925 0.5 18.2835 0.5 18.1743V6.25431C0.5 5.36135 1.09195 4.57658 1.95056 4.33126L13.9506 0.902693ZM8.64005 18.5H18.5V10.5H16.5V14.7457C16.5 15.6387 15.908 16.4234 15.0494 16.6688L8.64005 18.5ZM18.5 6.50001V8.50001H16.5V6.50001H18.5ZM2.5 6.25429V18.1743L14.5 14.7457V2.82571L2.5 6.25429ZM12.5 8.50001C12.5 9.0523 12.0523 9.50001 11.5 9.50001C10.9477 9.50001 10.5 9.0523 10.5 8.50001C10.5 7.94773 10.9477 7.50001 11.5 7.50001C12.0523 7.50001 12.5 7.94773 12.5 8.50001Z"
            fill="#EF2A82" />
        </svg>
      </a>
    </div>
  </div>

  <div class="container">
    <form
      class="cart__form"
      action="/cart"
      method="post"
      novalidate>
      <div class="cart__products-info">
        <p class="cart__products-shipment">
          <svg
            width="16"
            height="13"
            viewBox="0 0 16 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M15.6978 6.6525L14.5212 4.53438C14.3133 4.16034 14.0092 3.84867 13.6404 3.63165C13.2715 3.41462 12.8514 3.30012 12.4234 3.3H10.4V2.9C10.3993 2.26368 10.1463 1.65362 9.69633 1.20367C9.24638 0.753731 8.63632 0.500662 8 0.5H2.4C1.76368 0.500662 1.15362 0.753731 0.703675 1.20367C0.253731 1.65362 0.000661796 2.26368 0 2.9L0 8.5C0.000753111 9.07312 0.206255 9.62711 0.579448 10.0621C0.952642 10.497 1.46897 10.7843 2.03531 10.8722C2.12169 11.3274 2.36342 11.7384 2.71921 12.0352C3.075 12.3319 3.52278 12.496 3.98607 12.4992C4.44936 12.5025 4.89941 12.3449 5.25937 12.0532C5.61933 11.7615 5.86686 11.3539 5.95969 10.9H10.8403C10.9383 11.3788 11.2082 11.8051 11.599 12.0985C11.9898 12.3919 12.4746 12.532 12.9617 12.4924C13.4488 12.4529 13.9045 12.2363 14.2428 11.8837C14.5812 11.5311 14.7787 11.0668 14.7981 10.5784C15.1633 10.368 15.4666 10.0651 15.6776 9.70029C15.8886 9.33543 15.9998 8.92146 16 8.5V7.81812C15.9997 7.41025 15.8957 7.00915 15.6978 6.6525ZM4 11.7C3.76266 11.7 3.53065 11.6296 3.33332 11.4978C3.13598 11.3659 2.98217 11.1785 2.89134 10.9592C2.80052 10.7399 2.77676 10.4987 2.82306 10.2659C2.86936 10.0331 2.98365 9.81929 3.15147 9.65147C3.31929 9.48365 3.53311 9.36936 3.76589 9.32306C3.99867 9.27676 4.23995 9.30052 4.45922 9.39135C4.67849 9.48217 4.86591 9.63598 4.99776 9.83332C5.12962 10.0307 5.2 10.2627 5.2 10.5C5.19967 10.8182 5.07313 11.1232 4.84816 11.3482C4.62319 11.5731 4.31816 11.6997 4 11.7ZM9.6 10.1H5.95969C5.86813 9.65176 5.62567 9.24846 5.27274 8.95736C4.91981 8.66626 4.47775 8.50496 4.02028 8.50035C3.56281 8.49574 3.11759 8.64812 2.75888 8.93205C2.40016 9.21599 2.14962 9.61432 2.04906 10.0606C1.69483 9.98053 1.37831 9.78248 1.15138 9.49893C0.92444 9.21539 0.800547 8.86317 0.8 8.5V2.9C0.800496 2.47581 0.969226 2.06913 1.26918 1.76918C1.56913 1.46923 1.97581 1.3005 2.4 1.3H8C8.42419 1.3005 8.83087 1.46923 9.13082 1.76918C9.43077 2.06913 9.5995 2.47581 9.6 2.9V10.1ZM12.8 11.7C12.5627 11.7 12.3307 11.6296 12.1333 11.4978C11.936 11.3659 11.7822 11.1785 11.6913 10.9592C11.6005 10.7399 11.5768 10.4987 11.6231 10.2659C11.6694 10.0331 11.7836 9.81929 11.9515 9.65147C12.1193 9.48365 12.3331 9.36936 12.5659 9.32306C12.7987 9.27676 13.0399 9.30052 13.2592 9.39135C13.4785 9.48217 13.6659 9.63598 13.7978 9.83332C13.9296 10.0307 14 10.2627 14 10.5C13.9997 10.8182 13.8731 11.1232 13.6482 11.3482C13.4232 11.5731 13.1182 11.6997 12.8 11.7ZM15.2 8.5C15.2 8.73102 15.1499 8.9593 15.0531 9.16907C14.9563 9.37884 14.8152 9.5651 14.6394 9.715C14.472 9.32284 14.1837 8.99443 13.8165 8.77769C13.4493 8.56096 13.0225 8.46725 12.5982 8.51024C12.174 8.55323 11.7747 8.73067 11.4584 9.01666C11.1422 9.30266 10.9256 9.68223 10.8403 10.1H10.4V4.1H12.4231C12.7085 4.1001 12.9886 4.17646 13.2345 4.32118C13.4805 4.4659 13.6832 4.67372 13.8219 4.92312L14.9984 7.04125C15.1304 7.27906 15.1997 7.54648 15.2 7.81844V8.5Z" fill="#363535" />
          </svg>
          Envío a Domicilio (1 producto)
        </p>
        <div class="cart__product-container">
          {% if cart.item_count > 0 %}
            {% for item in cart.items %}
              <div class="cart__product">
                <div class="product__image-wrapper">
                  <a href="{{ item.url | within: collections.all }}">
                    <img
                      class="product__image"
                      src="{{ item | img_url: 'medium' }}"
                      alt="{{ item.title | escape }}">
                  </a>
                </div>
                <div class="product__info">
                  <div class="product__header">
                    <span class="product__supplier">Analytics</span>
                    <svg
                      width="2"
                      height="12"
                      viewBox="0 0 2 12"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M0.537109 1L0.53711 11"
                        stroke="#D8D8D8"
                        stroke-linecap="round" />
                    </svg>
                    <span class="product__code">625CK1775
                    </span>
                  </div>
                  <a href="{{ item.url }}" class="product__title">{{ item.product.title }}</a>
                  <div class="product__content">
                    <p class="product__price">{{ item.price | money }}</p>
                    <div class="product__quantity-wrapper">
                      <a class="product__remove-btn" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                        <svg
                          width="22"
                          height="16"
                          viewBox="0 0 22 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.24402 4H5.01868H19.2159"
                            stroke="#A6A6A6"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path d="M18.4413 3.99999C18.4413 3.44771 17.9936 2.99999 17.4413 2.99999C16.889 2.99999 16.4413 3.44771 16.4413 3.99999H18.4413ZM6.01868 3.99999C6.01868 3.44771 5.57096 2.99999 5.01868 2.99999C4.46639 2.99999 4.01868 3.44771 4.01868 3.99999H6.01868ZM6.68066 3.99999C6.68066 4.55228 7.12838 4.99999 7.68066 4.99999C8.23295 4.99999 8.68066 4.55228 8.68066 3.99999H6.68066ZM13.7793 3.99999C13.7793 4.55228 14.227 4.99999 14.7793 4.99999C15.3316 4.99999 15.7793 4.55228 15.7793 3.99999H13.7793ZM16.4413 3.99999V13.3333H18.4413V3.99999H16.4413ZM16.4413 13.3333C16.4413 13.3347 16.4412 13.3363 16.4404 13.3393C16.4395 13.3425 16.437 13.35 16.4304 13.3618C16.4168 13.386 16.3851 13.4284 16.3208 13.4766C16.1888 13.5758 15.9608 13.6667 15.6666 13.6667V15.6667C16.3525 15.6667 17.0119 15.459 17.5222 15.0756C18.0328 14.692 18.4413 14.0861 18.4413 13.3333H16.4413ZM15.6666 13.6667H6.79334V15.6667H15.6666V13.6667ZM6.79334 13.6667C6.49914 13.6667 6.27115 13.5758 6.13914 13.4766C6.07487 13.4284 6.04317 13.386 6.02954 13.3618C6.02293 13.35 6.02047 13.3425 6.01959 13.3393C6.01877 13.3363 6.01868 13.3347 6.01868 13.3333H4.01868C4.01868 14.0861 4.42713 14.692 4.93779 15.0756C5.44808 15.459 6.10742 15.6667 6.79334 15.6667V13.6667ZM6.01868 13.3333V3.99999H4.01868V13.3333H6.01868ZM8.68066 3.99999V2.66666H6.68066V3.99999H8.68066ZM8.68066 2.66666C8.68066 2.66526 8.68076 2.66371 8.68157 2.66074C8.68246 2.65749 8.68492 2.64997 8.69153 2.63824C8.70516 2.61402 8.73686 2.57163 8.80112 2.52335C8.93313 2.42417 9.16112 2.33333 9.45532 2.33333V0.333328C8.76941 0.333328 8.11007 0.540968 7.59978 0.924359C7.08912 1.30803 6.68066 1.9139 6.68066 2.66666H8.68066ZM9.45532 2.33333H13.0046V0.333328H9.45532V2.33333ZM13.0046 2.33333C13.2988 2.33333 13.5268 2.42417 13.6588 2.52335C13.7231 2.57163 13.7548 2.61402 13.7684 2.63824C13.775 2.64997 13.7775 2.65749 13.7784 2.66074C13.7792 2.66371 13.7793 2.66526 13.7793 2.66666H15.7793C15.7793 1.9139 15.3708 1.30803 14.8602 0.924359C14.3499 0.540968 13.6906 0.333328 13.0046 0.333328V2.33333ZM13.7793 2.66666V3.99999H15.7793V2.66666H13.7793Z" fill="#A6A6A6" />
                          <path
                            d="M9.45532 7.33333V11.3333"
                            stroke="#A6A6A6"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path
                            d="M13.0046 7.33333V11.3333"
                            stroke="#A6A6A6"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>
                        Eliminar
                      </a>
                      <div class="product__quantity">
                        <button class="quantity__btn quantity__btn--decrease js-quantity-decrease">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="26"
                            height="30"
                            viewBox="0 0 26 30"
                            fill="none">
                            <path
                              d="M5.9574 15H20.4539"
                              stroke="#D8D8D8"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                          </svg>
                        </button>
                        <input
                          class="quantity__number js-quantity-number"
                          type="number"
                          name="updates[]"
                          id="updates_{{ item.key }}"
                          value="{{ item.quantity }}"
                          min="0">
                        <button class="quantity__btn quantity__btn--increase js-quantity-increase">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="26"
                            height="30"
                            viewBox="0 0 26 30"
                            fill="none">
                            <path
                              d="M12.7163 6.6V23.4"
                              stroke="#D8D8D8"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path
                              d="M5.46802 15H19.9645"
                              stroke="#D8D8D8"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <h2>cart</h2>
            Cart is empty
          {% endif %}
        </div>
      </div>
      <div class="cart__summary">
        <h7 class="summary__title">Resumen de compra</h7>
        <div class="summary__wrapper">
          <div class="summary__detail">
            <p class="summary__text">Subtotal</p>
            <p class="summary__number">{{ cart.total_price | money }}</p>
          </div>
          <div class="summary__detail">
            <p class="summary__text">IBTMS</p>
            <p class="summary__number">{{ cart.total_price | money }}</p>
          </div>
          <div class="summary__detail">
            <p class="summary__text summary__text--total">Total</p>
            <p class="product__price product__price--total">{{ cart.total_price | money }}</p>
          </div>
          <div class="summary__shipment">
            <p class="summary__shipment-text">
              <svg
                width="16"
                height="13"
                viewBox="0 0 16 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M15.6978 6.57084L14.5212 4.45271C14.3133 4.07867 14.0092 3.76701 13.6404 3.54998C13.2715 3.33295 12.8514 3.21845 12.4234 3.21834H10.4V2.81834C10.3993 2.18202 10.1463 1.57195 9.69633 1.12201C9.24638 0.672066 8.63632 0.418997 8 0.418335H2.4C1.76368 0.418997 1.15362 0.672066 0.703675 1.12201C0.253731 1.57195 0.000661796 2.18202 0 2.81834L0 8.41833C0.000753111 8.99145 0.206255 9.54544 0.579448 9.98041C0.952642 10.4154 1.46897 10.7027 2.03531 10.7905C2.12169 11.2457 2.36342 11.6568 2.71921 11.9535C3.075 12.2503 3.52278 12.4143 3.98607 12.4176C4.44936 12.4209 4.89941 12.2632 5.25937 11.9715C5.61933 11.6798 5.86686 11.2722 5.95969 10.8183H10.8403C10.9383 11.2971 11.2082 11.7234 11.599 12.0168C11.9898 12.3102 12.4746 12.4504 12.9617 12.4108C13.4488 12.3712 13.9045 12.1547 14.2428 11.802C14.5812 11.4494 14.7787 10.9851 14.7981 10.4968C15.1633 10.2863 15.4666 9.98347 15.6776 9.61862C15.8886 9.25377 15.9998 8.8398 16 8.41833V7.73646C15.9997 7.32859 15.8957 6.92749 15.6978 6.57084ZM4 11.6183C3.76266 11.6183 3.53065 11.548 3.33332 11.4161C3.13598 11.2842 2.98217 11.0968 2.89134 10.8776C2.80052 10.6583 2.77676 10.417 2.82306 10.1842C2.86936 9.95145 2.98365 9.73763 3.15147 9.56981C3.31929 9.40198 3.53311 9.28769 3.76589 9.24139C3.99867 9.19509 4.23995 9.21885 4.45922 9.30968C4.67849 9.40051 4.86591 9.55431 4.99776 9.75165C5.12962 9.94899 5.2 10.181 5.2 10.4183C5.19967 10.7365 5.07313 11.0415 4.84816 11.2665C4.62319 11.4915 4.31816 11.618 4 11.6183ZM9.6 10.0183H5.95969C5.86813 9.5701 5.62567 9.1668 5.27274 8.8757C4.91981 8.5846 4.47775 8.42329 4.02028 8.41869C3.56281 8.41408 3.11759 8.56645 2.75888 8.85039C2.40016 9.13432 2.14962 9.53266 2.04906 9.97896C1.69483 9.89886 1.37831 9.70081 1.15138 9.41727C0.92444 9.13373 0.800547 8.78151 0.8 8.41833V2.81834C0.800496 2.39414 0.969226 1.98746 1.26918 1.68751C1.56913 1.38756 1.97581 1.21883 2.4 1.21833H8C8.42419 1.21883 8.83087 1.38756 9.13082 1.68751C9.43077 1.98746 9.5995 2.39414 9.6 2.81834V10.0183ZM12.8 11.6183C12.5627 11.6183 12.3307 11.548 12.1333 11.4161C11.936 11.2842 11.7822 11.0968 11.6913 10.8776C11.6005 10.6583 11.5768 10.417 11.6231 10.1842C11.6694 9.95145 11.7836 9.73763 11.9515 9.56981C12.1193 9.40198 12.3331 9.28769 12.5659 9.24139C12.7987 9.19509 13.0399 9.21885 13.2592 9.30968C13.4785 9.40051 13.6659 9.55431 13.7978 9.75165C13.9296 9.94899 14 10.181 14 10.4183C13.9997 10.7365 13.8731 11.0415 13.6482 11.2665C13.4232 11.4915 13.1182 11.618 12.8 11.6183ZM15.2 8.41833C15.2 8.64936 15.1499 8.87763 15.0531 9.0874C14.9563 9.29717 14.8152 9.48343 14.6394 9.63334C14.472 9.24117 14.1837 8.91276 13.8165 8.69603C13.4493 8.4793 13.0225 8.38559 12.5982 8.42858C12.174 8.47157 11.7747 8.64901 11.4584 8.935C11.1422 9.22099 10.9256 9.60057 10.8403 10.0183H10.4V4.01833H12.4231C12.7085 4.01843 12.9886 4.09479 13.2345 4.23951C13.4805 4.38423 13.6832 4.59205 13.8219 4.84146L14.9984 6.95959C15.1304 7.19739 15.1997 7.46482 15.2 7.73677V8.41833Z" fill="#05B999" />
              </svg>
              Disponible para envío gratis</p>
          </div>
          <div class="summary__btn-container">
            <button
              type="submit"
              name="checkout"
              class="summary__btn">Procesar el pago
              <svg
                width="17"
                height="17"
                viewBox="0 0 17 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.91589 9.34584C2.91589 8.24127 3.81132 7.34583 4.91589 7.34583H12.9159C14.0205 7.34583 14.9159 8.24127 14.9159 9.34583V12.6792C14.9159 13.7837 14.0205 14.6792 12.9159 14.6792H4.91589C3.81132 14.6792 2.91589 13.7837 2.91589 12.6792V9.34584Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M5.58252 7.34583V4.67917C5.58252 2.83822 7.0749 1.34583 8.91585 1.34583C10.7568 1.34583 12.2492 2.83822 12.2492 4.67917V7.34583"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% section 'slider-products' %}

<script>
  const decreaseButtons = document.querySelectorAll('.js-quantity-decrease');
  const increaseButtons = document.querySelectorAll('.js-quantity-increase');
  const quantityInputs = document.querySelectorAll('.js-quantity-number');

  decreaseButtons.forEach((button, index) => {
    button.addEventListener('click', () => {
      const quantityInput = quantityInputs[index];
      let currentQuantity = parseInt(quantityInput.value);

      if (currentQuantity > 0) {
        currentQuantity--;
        quantityInput.value = currentQuantity;
      }
    });
  });

  increaseButtons.forEach((button, index) => {
    button.addEventListener('click', () => {
      const quantityInput = quantityInputs[index];
      let currentQuantity = parseInt(quantityInput.value);
      currentQuantity++;
      quantityInput.value = currentQuantity;
    });
  });
</script>
